body {
	font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container{
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
	background-color: #595959;
}
header{
	width: 100%;
	height: 230px;
}
nav{
	widows: 100%;
	height: 30px;
	background-color: #AC2629;
	margin-bottom: 5px;
}
nav a{
	color:white;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	width: 150px;
	height: 30px;
	text-align: center;
	float: left;
	line-height: 30px;
}
nav a:hover{
	color: red;
	background-color: white;
}
.contenthome{
	width: 1000px;
	min-height: 800px;
	float: left;
	background-color: white;
	margin: 0 auto;
}

aside{
	width: 270px;
	min-height: auto;
	float: right;
	background-color: white;
	border: solid #000000;
}
aside h2{
	color: white;
	background-color: black;
	height: 40px;
	margin: 0px;
	text-align: center;
	line-height: 40px;
}

.newinfo{
	width: 100%;
	margin-top: 25px;
	margin-bottom: 25px;
}
.newinfo img{
	float: left;
	margin: 5px;
}
.newinfo p{
	margin:0px;
}

footer{
	width: 100%;
	height: 280px;
	background-color: #AC2629;
	color: white;
	clear: both;
}

footer .footer_left{
	width: 40%;
	height: 200px;
	float: left;
}
footer .footer_center{
	width: 40%;
	height: 200px;
	float: left
}
footer .footer_right{
	width: 20%;
	height: 100px;
	float: right;
	margin-top: 40px;
	text-align: center;
}
ul{
	list-style-type: square;
	padding-top: 20px;
}
ul li{
	font-size: 18px;
	line-height: 30px;
}
.sp{
	width: 290px;
	height: 390px;
	text-align: center;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	background-color: aliceblue;
	-webkit-border-radius: 10px;
	-soz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 15px 1px rgba(71,67,71,1);
	-moz-box-shadow: 0px 0px 15px 1px rgba(71,67,71,1);
	box-shadow: 0px 0px 15px 1px rgba(71, 67,71,1);
	position: relative;
		
}
.sp img{
	margin-top: 15px;
	width: 270px;
	height: 200px;
}
.promotion{
	width: 130px;
	height: 19px;
	padding: 10px;
	background-color: red;
	color: aliceblue;
	font-weight: hold;
	font-size: 20px;
	-webkit-border-radius: 10px;
	-soz-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow: 0px 0px 15px 1px rgba(71,67,71,1);
	-moz-box-shadow: 0px 0px 15px 1px rgba(71,67,71,1);
	box-shadow: 0px 0px 15px 1px rgba(71, 67,71,1);
	position: absolute;
	top: 10px;
	right: 10px;
}
.name{
	color: #260DCB;
	text-align: center;
	font-size: 20px;
}
.price{
	color: coral;
	font-size: 20px;
}
.price del{
	border-color: crimson;
}
.contenrnews{
	width: 1280;
	min-height: 800px;
	background-color: black;
	margin-bottom: 5px;
}
.contenrnews h1{
	color: aliceblue;
	text-align: center;
	font-size: 36px;
	padding-bottom: 10px;
	margin: 0px;
}
.contenrnews h2{
	color: aliceblue;
	font-size: 32px;
	padding-top: 10px;
	margin: 10px;
}
.contenrnews p{
	color: aliceblue;
	font-size: 20px;
	text-align: justify;
	margin: 10px;
}
.contenrnews iframe{
	margin-top: 30px;
	margin-bottom: 30px;
}
.contentcontact{
	width: 100%;
	min-height: 500px;
	background-color: white;
}
.contactleft{
	width: 50%;
	float: left;
}
.contactleft h2{
	text-align: center;
	font-size: 36px;
	color: white;
}
.contactleft table td{
	padding: 5px;
	font-size: 20px;
	color: black;
}
.contactleft input{
	width: 250px;
	height: 30px;
}
.contactleft .btn{
	width: 100px;
}
.contactright{
	right: 47%;
	min-height: 500px;
	float: right;
}
.contactright iframe{
	margin-top: 20px;
	margin-right: 20px;
}
body{
	background-color: #595959;
	margin: 0px;
	padding: 0px;
}
.info{
	width: 1280px;
	height: 180px;
}
.logo{
	width: 380px;
	height: 180px;
	float: left;
	margin: 0px 0px;
}
.search{
	width: 30px;
	height: 28px;
	float: left;
	text-align: center;
	position: relative;
}
.search input{
	width: 500px;
	height: 40px;
	margin-top: 150px;
	border: 1px solid #000000;
	-webkit-border-radius: 15px;
	-moz-border-radius:15px;
	border-radius: 15px;
}
.iconsearch{
	width: 32px;
	height: 32px;
	position: absolute;
	top: 155px;
	left: 450px;
}
.login{
	width: 200px;
	height: 180px;
	float: right;
}
.login p{
	margin-top: 85px;
	text-align: center;
	font-size: 18px;
	color: black;
}
.about{
	padding: 20px;
	font-size: 24px;
	min-height: 500px;
	background-color: white;
	width: 1240px;
	height: auto;
	margin: 0 auto;
}
.about h2{
	color: blue;
	text-align: center;
	
}
.about h3{
	color:green;	
}
.zoom:hover{
		width: 280px;
		height: 220px;
		cursor: zoom-in;
}
.contentnew{
	width: 1000px;
	min-height: 800px;
	float: left;
	background-color: white;
	margin: 0 auto;
}
.new{
	width: 930px;
	height: auto;
	padding: 15px 15px;
	margin: 15px 15px;
	border: solid 1px;
	float: left;
}
.new h2{
	color: red;
	padding-left: 15px;
}
.new p{
	font-size: 17px;
	padding-left: 15px;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text img{
	width: 270px;
	height: 200px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 190px;
  width: 270px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
	margin: 10px 10px;
}

.sp:hover .overlay {
  opacity: 1;
}

.fontpage{
width: 1000px;
	height: auto;
	float: left;
	background-color: white;
	margin: 0 auto;
}
.model{
	width: 180px;
		height: 290px;
		border: 1px solid #919191;
		float: left;
		position: relative;
	margin: 10px 5px;
}
.model img{
	width: 150px;
	height: 150px;
		margin-top:20px;
	}
.namer{
		color: #0200F7;
		font-size: 25px;
	padding-top: 30px;
	}

.rank{
		position: absolute;
		top: 140px; /*Trên cách dưới*/
		left: 65px; 
	}
.rank img{
	width: 50px;
	height: 50px;
}
.fontpage
.divrank{
	width: 980px;
	background-color: white;
	height: 300px;
	border: solid #000000;
	padding-bottom: 15px;
	padding-left: 15px;
}
.fontpage h1{
	font-size: 40px;
	color: red;
	text-align: center;
}
.fontpage h2{
	font-size: 30px;
	color: blue;
	margin-top: 15px;
}

.spc{
width: 290px;
	height: 330px;
	text-align: center;
	float: left;
	margin-left: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
	background-color: aliceblue;
	-webkit-border-radius: 10px;
	-soz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 15px 1px rgba(71,67,71,1);
	-moz-box-shadow: 0px 0px 15px 1px rgba(71,67,71,1);
	box-shadow: 0px 0px 15px 1px rgba(71, 67,71,1);
	position: relative;
		
}
.spc img{
	margin-top: 15px;
	width: 270px;
	height: 200px;
}